@page "/"
@using BlazorCms.ViewModels
@inject IPostViewModel _postViewModel
<div class="container">
        <div class="row">
            <div class="col-sm-9">
                    @if(@_postViewModel.Posts != null && @_postViewModel.Posts.Count() > 0)
                    {
                        var posts = _postViewModel.Posts.Take(_postViewModel.PostsPerPage);
                        <div class="row mt-2">
                            <div class="col-12">
                                <h2 class="text-center">Find news for your preference using search tool!</h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                        @foreach (var post in posts)
                        {
                                <div class="col-sm-4 mt-3">
                                    <a href="/blog/@post.PostPermalink" style="text-decoration: none;" title="Read More">
                                        <SfCard Orientation="CardOrientation.Vertical" ID="Trimmer">
                                            <img class="card-thambnail" src="@post.PostThumbnail">
                                            <CardHeader Title="@post.PostTitle" />
                                            <em class="ml-3"><span class="fa fa-calendar"></span> @post.PostUpdated</em>
                                        </SfCard>
                                    </a>
                                </div>
                            
                        }
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12 text-center">
                                @if(@_postViewModel.PostsPerPage < @_postViewModel.Posts.Count())
                                {
                                    <button class="btn btn-primary" @onclick="_postViewModel.LoadMoreItems">Load more</button>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row mt-5">
                            <div class="col-sm-12 text-center">
                                <h3>There are not posts at the moment!</h3>
                            </div>
                        </div>
                    }
            </div>
            <div class="col-sm-3">
                <SfTextBox Placeholder="Search" @bind-Value="_postViewModel.SearchTerm" @onkeyup="_postViewModel.OnSearchTermChange" Type="InputType.Search"></SfTextBox>
                <hr>
                <SfCalendar TValue="DateTime"></SfCalendar>
            </div>
        </div>
</div>
@code{
    protected override async Task OnInitializedAsync() => await _postViewModel.GetAll();
}