@using BlazorCms.ViewModels
@inject NavigationManager _navigationManager
@inject IAuthViewModel _IAuthViewModel

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h1>Sign in with any option below!</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <MessageNotify Alert="danger" Title="@_IAuthViewModel.Message" Display="@_IAuthViewModel.Display" />
            <SfTextBox Placeholder="Your login" Type="InputType.Text" @bind-Value="@_IAuthViewModel.TheUser.UserEmail" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
            <br><br>
            <SfTextBox Placeholder="Your password" Type="InputType.Password" @bind-Value="@_IAuthViewModel.TheUser.UserPass" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
            <br><br>
            <SfButton @onclick="_IAuthViewModel.signIn">Sign In</SfButton>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <a class="btn btn-block btn-social btn-facebook" @onclick="_IAuthViewModel.FacebookSignIn">
                <span class="fa fa-facebook"></span> <b>Sign in with Facebook</b>
            </a>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <a class="btn btn-block btn-social btn-google" @onclick="_IAuthViewModel.GoogleSignIn">
                <span class="fa fa-google"></span> <b>Sign in with Google</b>
            </a>
        </div>
    </div>
</div>